@-ms-viewport {
  width: device-width;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

button {
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

button:hover{
    background:rgba(255, 224, 0, 0.2);
}

button:focus {
    /* outline: 1px solid #fff;
    outline-offset: -4px; */
    outline: 0;
}

button:active {
    transform: scale(0.99);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Maven Pro", sans-serif;
}
